body{
    background-color: black;
    overflow: hidden;
}
p,h1{
    color: white;
}
.menu-box{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; 
    width: 100px;
    padding-top: 13%;

}
.img{
    text-align: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    padding-top: 1%;
    main-width:1380px;
     max-width: 100%;
}
.img img{
    width: 40%;
    
}

@media ( max-width: 768px ) {
    .img img{
        width: 90%;
        padding-top: 0;
    }
  }